/bytebank/bin
/bytebank/.settings
/bytebank-composto/bin
/bytebank-composto/.settings
/bytebank-encapsulado/bin
/bytebank-encapsulado/.settings
/bytebank/.classpath
/bytebank/.project
/bytebank-composto/.classpath
/bytebank-composto/.project
/bytebank-encapsulado/.classpath
/bytebank-encapsulado/.project